<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/chatHead') %>
</head>

<body>
    <%- include('../partials/header') %>


        <main class="content"></main>
        <div class="container p-0 my-3">

            <h1 class="h3 mb-3">Messages</h1>

            <div class="card">
                <div class="row g-0">

                    <!-- chat sidebar -->
                    <!-- <%- include('./chatSidebar') %> -->
                    
                    
                    <div class="col-12 col-lg-7 col-xl-9">
                        <!-- chat header -->
                        <%- include('./chatHeader') %>
                        
                        
                        <!-- chat area -->
                        <%- include('./chatArea') %>
                        

                    </div>
                </div>
            </div>
        </div>
        </main>



        <%- include('../partials/chatfooter') %>
</body>

</html>