<!doctype html>
<html lang="en">

<head>
    <%- await include('../partials/chatHead') %>
</head>

<body>
    <%- await include('../partials/header') %>

    
        <main class="content"></main>
        <div class="container p-0 my-3">

            <h1 class="h3 mb-3">Online Users : <span class="online-user-count" ></span></h1>

            <div class="card">  
                <div class="row g-0">

                    <!-- chat sidebar -->
                    <%- await include('./chatSidebar') %>
                    
                    
                    <div class="col-12 col-lg-7 col-xl-9">
                        <!-- chat header -->
                        <%- await include('./chatHeader') %>
                        
                        
                        <!-- chat area -->
                         <div class="wcp-chat-body">

                             <%- await include('./chatArea') %>

                         </div>

                        <!-- chat form -->
                        <%- await include('./chatForm') %>
                        

                    </div>
                </div>
            </div>
        </div>
        </main>



        <%- await include('../partials/chatfooter') %>


</body>

</html>